<TeamSelector />

<TeamSidebar />

<!-- Channel -->
<main class="flex-1 flex flex-col bg-white overflow-hidden channel">

  <ChannelHeader @title="Coding is fun" @description="101 ways to kill time" />

  {{ format-timestamp "04/05/1983"}}

  <!-- Channel Message List -->
  <div class="py-4 flex-1 overflow-y-scroll channel-messages-list" role="list">

    <Message />
    <Message />
    <Message />

  </div>

  <ChannelFooter />
</main>
